[credential]
	helper = "!f() { /home/student/.vscode-server/bin/863d2581ecda6849923a2118d93a088b0745d9d6/node /tmp/vscode-remote-containers-e29f6b63-624c-4d17-a49b-602e0b4262b4.js git-credential-helper $*; }; f"
